version: '3.8'
services: 
  nacos:
    image: nacos/nacos-server:v2.0.3
    environment: 
      - MODE=standalone
      - NACOS_AUTH_ENABLE=false
    ports:
      - "8848:8848"
      - "9848:9848"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    networks:
      - net1
    volumes: 
      - /zj_apps/nacos_docker/logs:/home/nacos/logs
networks:
  net1:
    driver: overlay
      